# See common.config for base configuration

# Front servers as a space separated list
FRONT_SERVERS=(front1-server front2-server)

SOLR_SERVERS=(
"front1-server;slave;public"
"front2-server;slave;public"
"index-server;master;*"
)

# For each front, give it the name used in the Varnish script, assumed to be the same on all Varnish instances
FRONT_VARNISH_NAMES=(front1 front2)

# List of Varnish servers which we will try to control to cleanly remove a front when it is shut down
VARNISH_SERVERS=(
front1-server
front2-server
)

# There may be different sets of machines on the backend with Tomcat installed
BACKEND_SERVERS=(cm-server index-server)