# Directory where the current release can be located
RELEASEDIRECTORY="/home/polopoly/source/target/dist"

# Sysadmin password
SYSADMINPWD=sysadmin

# The unix user under which to install the files / stop and start services
POLOPOLY_USER=polopoly

# JBoss host
JBOSS_HOST=cm-server

# Front servers as a space separated list
FRONT_SERVERS=(front1-server)

# For each front, give it the name used in the Varnish script, assumed to be the same on all Varnish instances
FRONT_VARNISH_NAMES=(front1)

FRONT_TOMCAT_PORT=8080

# There may be different sets of machines on the backend with Tomcat installed
BACKEND_SERVERS=(cm-server)

# The following folders must be common across all servers that use them

# Where SOLR data is stored
SOLR_HOME="/opt/data/solr"

# The tomcat home folder
TOMCAT_HOME="/var/lib/tomcat7"

# Tomcat Service name used in init.d
TOMCAT_NAME="tomcat"
TOMCAT_STOP_COMMAND="/usr/share/tomcat7/bin/shutdown.sh"
TOMCAT_START_COMMAND="/usr/share/tomcat7/bin/startup.sh"

# Files that will be copied from the source folder to the tomcat /conf folder for all fronts
# Empty this list if you want to maintain these files manually
TOMCAT_CONFIG_FILES=(server.xml logging.properties)

# JBoss home folder
JBOSS_HOME="/opt/jboss"

# Config Folder
POLOPOLY_CONFIG=/opt/data/config

# Whether JBOSS will be re-deployed each time, comment out this if Jboss deployment will be handled manually
JBOSS_REDEPLOY=TRUE

# These need to be changed for the above once Jboss has been re-configured
JBOSS_STOP_COMMAND="$JBOSS_HOME/bin/shutdown.sh -S"
JBOSS_START_COMMAND="nohup $JBOSS_HOME/bin/run.sh -b 0.0.0.0 > /dev/null &"


# Map the artifacts to the servers that they get copied to
# this is an array of mappings
# the first part of the mapping is the file, the second
# is the server name
SERVER_ARTIFACTS=(
"deployment-servers/integration-server.war;cm-server"
"deployment-servers/solr-indexer.war;index-server"
"deployment-servers/solr.war;index-server"
"deployment-servers/statistics-server.war;cm-server"
"deployment-management/management.war;cm-server"
"deployment-polopoly-gui/ROOT.war;gui-server"
"deployment-polopoly-gui/moderation.war;gui-server"
"deployment-polopoly-gui/polopoly.war;gui-server"
)

# Mapping of SOLR config destinations
# host ; type ; indexes to use
SOLR_SERVERS=(
"front1-server;slave;public"
"index-server;master;*"
)

# List of Varnish servers which we will try to control to cleanly remove a front when it is shut down
VARNISH_SERVERS=(
cache-server
)

# The Varnish Admin URL, defined when Varnish is started, relative to the Varnish Server
VARNISH_ADM_URL="localhost:6082"
# The location of the Secret file
VARNISH_ADM_SECRET="/etc/varnish/secret"


FRONT_WARMING_URLS=(
cmlink/Site.d
"solr/public/select/?q=*:*&version=2.2&start=0&rows=500&indent=on"
)

# This is a list of URL's that will be spidered before the deployment starts to ensure that the Varnish cache contains
# Recent Content
WARMING_SITES=()

# User Agent to send with the Warming Requests
WARMING_USER_AGENT="Mozilla/4.0 (compatible; MSIE 6.0; Windows NT 5.1; WARMING)"

# Number of minutes to stop warming if the nesting goes too deeply. Disabled by default. Enable on each config as required.
WARMING_TIMEOUT=0
