# Directory where the current release can be located
RELEASEDIRECTORY="/home/polopoly/source/target/dist"

# Sysadmin password
SYSADMINPWD=sysadmin

# The unix user under which to install the files / stop and start services
POLOPOLY_USER=polopoly

# JBoss host
JBOSS_HOST=cm-server

# Front servers as a space separated list
FRONT_SERVERS=(front1-server)

# For each front, give it the name used in the Varnish script, assumed to be the same on all Varnish instances
FRONT_VARNISH_NAMES=(front1)

FRONT_TOMCAT_PORT=8080

# There may be different sets of machines on the backend with Tomcat installed
BACKEND_SERVERS=(cm-server)

# The following folders must be common across all servers that use them

# Where SOLR data is stored
SOLR_HOME="/opt/filedata/solr"

# The tomcat home folder
TOMCAT_HOME="/export/www/polopoly/tomcat"

# Tomcat Service name used in init.d
TOMCAT_NAME="tomcat"

# Files that will be copied from the source folder to the tomcat /conf folder for all fronts
# Empty this list if you want to maintain these files manually
TOMCAT_CONFIG_FILES=(server.xml logging.properties)

# JBoss home folder
JBOSS_HOME="/opt/jboss"

# Config Folder
POLOPOLY_CONFIG=/opt/polopoly/config

# Whether JBOSS will be re-deployed each time, comment out this if Jboss deployment will be handled manually
JBOSS_REDEPLOY=TRUE

# These need to be changed for the above once Jboss has been re-configured
JBOSS_STOP_COMMAND="ci jboss stop"
JBOSS_START_COMMAND="ci jboss start"


# Map the artifacts to the servers that they get copied to
# this is an array of mappings
# the first part of the mapping is the file, the second
# is the server name
SERVER_ARTIFACTS=(
"deployment-servers/integration-server.war;cm-server"
"deployment-servers/solr-indexer.war;index-server"
"deployment-servers/solr.war;index-server"
"deployment-servers/statistics-server.war;cm-server"
"deployment-management/management.war;cm-server"
"deployment-polopoly-gui/ROOT.war;gui-server"
"deployment-polopoly-gui/moderation.war;gui-server"
"deployment-polopoly-gui/polopoly.war;gui-server"
)

# Mapping of SOLR config destinations
# host ; type ; indexes to use
SOLR_SERVERS=(
"front1-server;slave;public"
"index-server;master;*"
)

# List of Varnish servers which we will try to control to cleanly remove a front when it is shut down
VARNISH_SERVERS=(
cache-server
)

# The Varnish Admin URL, defined when Varnish is started, relative to the Varnish Server
VARNISH_ADM_URL="localhost:6082"
# The location of the Secret file
VARNISH_ADM_SECRET="/etc/varnish/secret"


FRONT_WARMING_URLS=(
cmlink/BNdeStem.web
cmlink/BNdeStem.web/extra
cmlink/BrabantsDagblad.web
cmlink/BrabantsDagblad.web/sport
cmlink/BrabantsDagblad.web/xtra
cmlink/Tubantia.web
cmlink/Tubantia.web/sport
cmlink/Tubantia.web/extra
cmlink/PZC.web
cmlink/PZC.web/sport
cmlink/PZC.web/extra
cmlink/GelderlanderDagblad.web
cmlink/GelderlanderDagblad.web/sport
cmlink/GelderlanderDagblad.web/extra
cmlink/EindhovensDagblad.web
cmlink/EindhovensDagblad.web/sport
cmlink/EindhovensDagblad.web/economie
mobilefeed/articlelist/deStentor
cmlink/deStentor.web/sport
cmlink/deStentor.web/extra
mobilefeed/articlelist/BrabantsDagblad
mobilefeed/taglist/BrabantsDagblad?tag=carnaval
mobilefeed/articlelist/BrabantsDagblad
mobilefeed/articlelist/BNdeStem
mobilefeed/articlelist/EindhovensDagblad
mobilefeed/articlelist/GelderlanderDagblad
mobilefeed/articlelist/Tubantia
mobilefeed/videolist/deStentor
cmlink/BNdeStem.web/regio/bergen-op-zoom/mobiele-eenheid-zoekt-naar-sporen-roofoverval-1.3446201
cmlink/BrabantsDagblad.web//regio/waalwijk/dode-bij-bedrijfsongeval-in-waalwijk-1.3345586
"solr/public/select/?q=inputTemplate%3Awegener.StandardArticle&version=2.2&start=0&rows=100&indent=on&sort=updateDate_dt%20desc"
)

