# See common.config for base configuration
# Directory where the current release can be located
RELEASEDIRECTORY="/Users/peterabjohns/projects/stampen/target/dist"


# For each front, give it the name used in the Varnish script, assumed to be the same on all Varnish instances
FRONT_VARNISH_NAMES=()

# JBoss home folder
JBOSS_HOME="/opt/jboss"

# Whether JBOSS will be re-deployed each time
JBOSS_REDEPLOY=TRUE

JBOSS_STOP_COMMAND="/etc/init.d/jboss stop $POLOPOLY_USER"
JBOSS_START_COMMAND="/etc/init.d/jboss start $POLOPOLY_USER"

# Mapping of SOLR config destinations
# host ; type ; indexes to use
SOLR_SERVERS=(
"front1-server;slave;public"
"index-server;master;*"
)

# List of Varnish servers which we will try to control fronts in the Varnish Pool
VARNISH_SERVERS=()

# For each front, give it the name used in the Varnish script, assumed to be the same on all Varnish instances
FRONT_VARNISH_NAMES=()


function md5sum () {
md5 -r $@
}
function mvn () {
/usr/local/Cellar/maven30/3.0.5/bin/mvn $@
}
