# See common.config for base configuration

FRONT_SERVERS=(front1-server)

SOLR_SERVERS=(
"front1-server;slave;public"
"index-server;master;*"
)

# For each front, give it the name used in the Varnish script, assumed to be the same on all Varnish instances
FRONT_VARNISH_NAMES=()

# List of Varnish servers which we will try to control to cleanly remove a front when it is shut down
VARNISH_SERVERS=(
)

# There may be different sets of machines on the backend with Tomcat installed
BACKEND_SERVERS=(cm-server gui-server)

WARMING_SITES=("www.site1.com"
"www.site2.com")

# 15 mins should be plenty of time to spider around the pages a bit
WARMING_TIMEOUT=0
